---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "jun. 2024 - actual.",
    title: "Desarrollador de software || Colaborador en Eurekamps",
    company: "Eurekamps",
    description:
      "Participación en la creación de contenidos educativos sobre Flutter, Firebase, Android Studio y Git. Colaboración en la planificación y estructuración de contenido. Apoyo técnico y realización de pruebas de las aplicaciones desarrolladas para los tutoriales.",
    link: "https://www.linkedin.com/company/eurekamps/",
  },
{
    date: "abr. 2024 - jun.2024. 3 meses",
    title: "Desarrollador de software",
    company: "FRESIA SOFTWARE SOLUTIONS",
    description:
      "Practicas del grado superior DAM, realice tareas de desarrollo en C#, Pruebas Unitarias, Swagger API y React para desarrollar un programa de gestión de academias.",
    link: "https://www.linkedin.com/company/fresia-software-solutions/",
  },
  {
    date: "mar. 2022 - sept. 2022",
    title: "Técnico MicroInformatico",
    company: "CYBERDRIVE",
    description:
      "Tecnico MicroInformatico, realice tareas de asistencia help desk, reparación de ordenadores, servidores y instalaciónes de red.",
},
]
---
<ol class="relative mt-16">                  
    {
        EXPERIENCE.map((experience) =>(
            <li class="">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>

